
<head>
    <title>Error 404</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="errorBod">
    {{!-- ROW ONE |||||||||||||||||||||||||| --}}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 f2tErrorR1">
          <img src="../images/SVG/error404.svg" alt="" class="error404">
      </div>
  </div>
  {{!-- ANOTHER ROW |||| this one is layered over R1 --}}
  <div class="row">
      <div class="col-md-12 f2tErrorR2">
          <img src="../images/SVG/fridge.svg" alt="" class="drawnFridge">
      </div>
  </div>
    {{!-- ANOTHER ROW ||||  --}}
  <div class="row">
      <div class="col-md-12 f2tErrorR3">
          <img src="../images/SVG/fridgenotfound.svg" alt="" class="drawnText">
      </div>
  </div>

</div>



</body>

