<div class="container-fluid">
  <div class="row headerRow">
    <div class="col-md-12">
      <h1>Fridge Two Table</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>blank</p>
    </div>
    <div class="col-md-4">
      <p>Choose Your Hat</p>
      <input type="text" class="enterUser" placeholder="Enter User">
      <button type="button" class="addUser centerButton">Login</button >
    </div>
    <div class="col-md-4">
      <p>blank</p>
    </div>
  </div>
</div>