html, body {
  font-family: 'Acme', sans-serif;
}

.centerButton {
  margin: 10px auto;
}

.headerRow {
  text-align: center;
}

.col-md-4, .col-md-12 {
  border: 2px solid gray;
  text-align: center;
}

.useIngredient, .ingredient, .removeIngredient {
  display: inline-block;
}

.green {
  color: darkgreen;
  font-weight: bold;
}

.used, .saved {
  background-color: yellow;
}

.notused, .notsaved {
  background-color: white;
}

.recipeImg {
  height: 50px;
  width: auto;
}

/*Modal Styling Fix. We did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */
.fade.in {
  opacity: 1;
}
/*Modal Styling Fix. We did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/*Modal Styling Fix. We did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */
.modal-backdrop.in {
  opacity: 0.5;
}


